/*Css Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Our reset*/
a {
	text-decoration:none;
	color: #000;
}

/*Styles*/

body {
	background-color: #F1F1F1;
}

header {
	position: relative;
	width: 100%;
	padding: 30px 10px;

}
* {box-sizing: border-box;}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
.logo {
	display: inline-block;
	width: 80px;
	height: 120px;
	background:url(images/geek.png) no-repeat center;
	background-size: 90%;
	vertical-align: top;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {
	display: inline-block;
}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {
	content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {
	color: #9d999d;
}
.menu-main a.current, .menu-main a:hover{
	color: #feb386;
}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {
	left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
	right: 0;
}   

@media (max-width: 550px) {
.menu-main {
	padding-top: 0;
}
.menu-main li {
	display: block;
}
.menu-main li:after {
	content: none;
}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

h1 {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
	font-size: 2em;
}

.main-container {
	width: 100%;
}

.menu-slider {
	display: flex;
}

nav {
	flex: 1;
	margin-right: 20px;
	background-color: #FFF;
	box-shadow: 3px 3px 6px #888;
}

ul {
	padding: 15px;
}

ul li a {
	display: inline-flex;
	padding: 8px 10px;
	font-size: 1.5em;
}

ul li a:hover {
	color: #1faee9;
}


main {
	padding:30px 0;
}

h2 {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.news-plates {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #EEE;
}

.news-plates section {
	position: relative;
	box-sizing: border-box;
	width: 25%;
	padding: 10px;
	box-shadow: 4px 4px 6px #808080;
	transition: transform 0.2s ease;
	border-radius: 15px;
}

.news-plates section:hover {
	transform: scale(1.03);
	cursor: pointer;
}

.news-plates section img {
	width: 100%;
}

.news-plates section h3 {
	font-size: 1em;
	font-weight: 800;
	padding: 8px;
}

.news-plates section article {
	font-size: 1em;
	padding: 8px;
}

footer {
	background-color: grey;
	padding: 40px 20px;
	font-size: 1em;
	border:5px solid white;

}